.add-task-form {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: 0.5rem;

  &__input {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  &__button {
    padding: 0.6rem 1.2rem;
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #303f9f;
    }
  }
}
